
######### MYSQL CONNECTION PARAMS #########
HOST: $MYSQL_HOST
PORT: $MYSQL_PORT
USER: $MYSQL_USER
PASSWORD: $MYSQL_PWD

PhpMyAdmin GUI URL: http://localhost:8888/

############# EXERCISM SETUP ##############
exercism c -w /workspace/exercism -t <auth-token from https://exercism.org/settings/api_cli>

########## UPDATING DEVCONTAINER ##########
devcontainer-update

